@model IEnumerable<DOAN3.Models.OrderDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminCP/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary fa  fa-plus" })
</p>

<table class="table table-bordered table-striped " id="dataTable" style="text-align:center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantily)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acount)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Orders.Address)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Products.Images)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.ProductName)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantily)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Acount)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Orders.Address)
                    </td>*@
                <td>
                    <img src="@item.Products.Images" style="width:100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Products.ProductName)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.OrderId }, new { @Class = "btn btn-warning fa fa-pencil" })
                    @Html.ActionLink(" ", "Details", new { id = item.OrderId }, new { @Class = "btn btn-primary fa fa-eye" })
                    @Html.ActionLink(" ", "Delete", new { id = item.OrderId }, new { @Onclick = "return confirm('Muốn xoá không?');", @class = "btn btn-danger fa fa-trash" })
                </td>
            </tr>
        }
    </tbody>

</table>
@section scripts{
    <!-- Page level plugins -->
    <script src="/Assets/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/Assets/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/Assets/admin/js/demo/datatables-demo.js"></script>
}

