@model IEnumerable<DOAN3.Models.ProductsCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminCP/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý loại sản phẩm</h2>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary fa  fa-plus" })
</p>
<table class="table table-bordered table-striped " id="dataTable" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>Function</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.CategoryId }, new { @Class = "btn btn-warning fa fa-pencil" })

                    @Html.ActionLink(" ", "Details", new { id = item.CategoryId }, new { @Class = "btn btn-primary fa fa-eye" })

                    @Html.ActionLink(" ", "Delete", new { id = item.CategoryId }, new { @Onclick = "return confirm('Muốn xoá không?');", @class = "btn btn-danger fa fa-trash" })

                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <!-- Page level plugins -->
    <script src="/Assets/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/Assets/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/Assets/admin/js/demo/datatables-demo.js"></script>
}
